# .gitignore 
# Sebastian Sardina 2011

tmp
tmp*

# Latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.vrb
*.nav
*.snm
*.tdo
*.spl
*.thm
*.pdfsync
pdfs/*
*.dpth
main-*.pdf

# Standard VS.NET and ReSharper Foo
obj
bin
*.csproj.user
*ReSharper*
*resharper*
*.suo
*.cache
*Thumbs.db

# Stylecop things
SourceAnalysisViolations.xml
*.SourceAnalysis

# Other useful stuff
*.bak
*.backup	# kile
*~		# emacs
*.cache
*.log
*.tmp
*.swp
*.user
_compareTemp
_notes
aspnet_client
httpd.parse.errors
*.webinfo
*.InstallLog
*.InstallState

# Office Temp Files
~$*

# If you have a deploy folder
deploy
deploy/*

# Exclude ALL compiled files?
*.dll
*.exe
*.pdb

# Exclude svn folders for the freaks that put a git repo in the root of an svn working copy. (git-svn hates externals...)
.svn
.svn/*

# Exclude vss files
*.*scc

# SQL Server managment studio stuff
*.sqlsuo

# Visual Basic 6 excludes
*.vbw

# Binaries
*.o
*.out
*.clas
*.pyc


#netbeans ignore personal stuff 
nbproject/private/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.~lock*

# Jack jar files
jack.jar
jackagt.jar

# git original files after merge
*.orig

# examples for ignoring pdf files in various subdirs (uncomment as required)
#/*.pdf
#2013/*.pdf
#AI13-overview.pdf

*.table
*.script
*.gnuplot
*.auxlock

.idea
*.csv
*.7z
*.profile